body{
  background: $background_color;
  color: $text_color_p;
  font-family: $font;
}

.supbar{
  background: $navbar_color;
}
.main-container{
  background:$main_container_color;
  color: $text_color_p;
  margin-top: $navbar_heigt;
}
.incontainer{
  border-color: $navbar_color;

}
.login_block{
  background-color: $third_container;
  font-family: $font;
  padding: $center_padding;
  height: $login_height;
  width: $login_width;
  margin-top: $login_uo_margin;
  margin-left: $login_side_margin;
  margin-right: $login_side_margin;
}
.inerlogin_block{
font-family: $font;
}
