body{
  background: $background_color;
  color: $text_color_p;
  font-family: $font;
  height: 100%;
}
.sub_body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login_container{
  text-align: center;
  height: $login_container_height;
  width: $login_container_with;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(50vh - 250px);
  margin-bottom:100px;
}
