.superior_nav_bar{
  padding-left: calc(150vh - 150px);
  font-size: 50px;
  background-color: $navbar_color;
  border-radius: 2px;
}
.bx--tabs__nav-link{
  font-size: 20px;
}
.bx--tabs__nav-item:hover .bx--tabs__nav-link {
  color: white;
}
.bx--tabs__nav-item--selected .bx--tabs__nav-link {
  color: white !important;
}
 .bx--tabs__nav-item--selected{
  color: white !important;
  }
