.bx--tag {
    font-size: 1.5rem;
    height: 1.75rem;
    margin: .225rem;
    color: #ffffff;
}
.bx--tag--ibm{
    background-color: #303952;
}
.bx--tag--beta{
    background-color: #574b90;
}
.bx--tag--third-party{
    background-color: #546de5;
}
.bx--tag--local{
    background-color: #3dc1d3;
}
.bx--tag--dedicated{
    background-color: #1B1464;
}
.bx--tag--custom{
    background-color: #006266;
}
.bx--tag--experimental{
    background-color: #1289A7;
}
.bx--tag--community{
    background-color: #0c2461;
}
.bx--tag--private{
    background-color: #192a56;
}
