$background_color: white;
$text_color_p: black;
$main_container_color: #eee;
$second_container:#4cd137;
$third_container: gray;
$navbar_color:#4cd137;
$font: Dosis;
$center_padding: 10px;
$login_height:500px;
$login_width: 200px;
$login_side_margin:700px;
$login_uo_margin:70px;
$navbar_heigt:70px;
